<launch>

  <include file="$(find bit_task)/launch/vision_task2.launch" />

  <!--bringup robot-->  
  <include file="$(find bit_task)/launch/slam_map.launch" />

  <!--运行模型显示节点-->
  <include file="$(find bit_robotcar)/launch/view_ur5e_challenge2.launch" />

  <!--bringup zed-->  

  <!--运行协同规划节点-->
  <node pkg="bit_motion" type="Approaching.py" name="approach_brick" respawn="false" />

  <!--运行任务节点-->
  <!--<node pkg="bit_task" type="task2_action_test_know" name="task2_action" output="screen" respawn="true" />-->

  <!--运行取放砖运动节点-->
  <!--<node pkg="bit_motion" type="t2_pick_put_server.py" name="pickputAction" output="screen" respawn="true" />-->

  <!--运行取放砖运动节点-->
  <!--<node pkg="bit_task" type="map_address_manage" name="address_manage_node" output="screen" respawn="true" />-->

  <!--运行找砖位置节点-->
  <!--<node pkg="bit_motion" type="t2_locate_server.py" name="locate_server_node" respawn="false" />-->

  

</launch>
