<launch>
    <node pkg="dji_sdk" type="dji_sdk_node" name="dji_sdk" output="screen">
    <!-- node parameters -->
    <param name="serial_name" type="string" value="/dev/dji_dev"/>
    <param name="baud_rate" type="int" value="230400"/>
    <param name="app_id" type="int" value="1082789"/>
    <param name="app_version" type="int" value="1"/>
    <param name="align_time" type="bool" value="false"/>
    <param name="enc_key" type="string" value="a1f79a37adcd36a85b881a559dd464bc455545cff1dd12b4af0e35d341d2934b"/>
    <param name="use_broadcast" type="bool" value="true"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="dji_imu_link_to_car" args="-0.58 0.45 0.362 0 0 0  /car_link /imu_link 0" />

</launch>
