<launch>

<!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find navigation)/param_turtle/burger/costmap_common_params_burger.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find navigation)/param_turtle/burger/costmap_common_params_burger.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find navigation)/param_turtle/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find navigation)/param_turtle/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find navigation)/param_turtle/move_base_params.yaml" command="load" />
    <rosparam file="$(find navigation)/param_turtle/burger/dwa_local_planner_params_burger.yaml" command="load" />
	<!--rosparam file="$(find navigation)/config/base_local_planner_params.yaml" command="load" /-->
  </node>


</launch>
